#layout {
    height: 97vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    height: 10vh;
}

#body-app {
    flex: 1;
}

footer {
    height: 5vh;
}